#title{
    width: 90%;
}

.slanted {
    position: absolute;
    width: 25%;
    height: 17%;
    transform: rotate(-45deg);
}

header {
    text-align: center;
}

body {
    background-color: azure;
}

main {
    display: flexbox;
    flex-wrap: wrap;
    width: 100%;
}

#board-container {
    display: flex;
    justify-content: center;
}

#board-img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 900px;
    border: 1px solid black;
    vertical-align: bottom;
}

.sqr-card{
    float: left;
    position: absolute;
    height: 13%;
    width: 13.1%;
    margin: 0.1%;
}

.vertical-card{
    float: left;
    position: absolute;
    height: 13%;
    width: 8.1%;
    margin: 0.1%;
}

.horizontal-card{
    float: left;
    position: absolute;
    height: 7.9%;
    width: 13.1%;
    margin: 0.1%;
}

#middle-board{
    float: left;
    position: absolute;
    left: 13.4%;
    top: 13.3%;
    height: 73.3%;
    width: 73.3%;
    margin: 0.1;
}

#the-board{
    position: relative;
    display: inline-block;
    max-width: 75%;
}

#dice-area{
    position: absolute; 
    right: 0%; 
    top: 0%; 
    width: 40%; 
    height: 30%;
}

.board-sides{
    position: relative;
    display: inline-block;
    left: 0%;
}

.row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
